html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  
}
body{background-color: black;}

@keyframes beddus {
		0% {
			background:#19dcea;
		}
		25% {
			background:#b22cff;
		}
		50% {
			background:#ea2222;
		}
		75% {
			background:#f5be10;
		}
		100% {
			background:#3bd80d;
		}
	}